@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img class="img-fluid" src="images/HilleroedSejlklubKlubhus.png" alt="Klubhus" style="width:600px;">
    <br><br>
    <p>
        Hillerød Sejlklub er en klub for jollesejlere. <br>
        Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, <br>
        for det sociale samvær, og evt. selv medvirke eller støtte andre sejlere i konkurrencesejlads.
    </p>
</div>
